<!doctype html>
<html>

<head>
    <title>
        <%- title %>
    </title>
    <link rel="stylesheet" href="/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/mocha.css" type="text/css" />
    <link rel="icon" type="image/png" href="/csv.png" />
    <script type="text/javascript" src="/underscore-min.js"></script>
    <script type="text/javascript" src="/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#analizar").click(function(event){
                event.preventDefault();
                $.get("/csv",  csv_text.value, function( data ) {
                    $( "#tabla" ).html( data["answer"]);
                    console.log(data);
                }, 'json');
            });
        });
    </script>
    
</head>

<body>
    <%- body %>
</body>

</html>